.TodoTemplate {
    width : 512px;
    margin : 6rem auto 0;
    border-radius: 30px;
    overflow: hidden;
}

.app-title {
    background : #4c6ef5;
    color : white;
    height : 4rem;
    font-size : 1.5rem;
    display : flex;
    align-items: center;
    justify-content: center;
}

.content {
    background : white;
}