.TodoListItem-virtualized {
    &+&{
        border-top : 1px solid #dee2e6;
    }
    &:nth-child(even){
        background : #f8f9fa;
    }
}

.TodoListItem {
    padding : 1rem;
    display : flex;
    align-items: center;
    .checkbox {
        cursor : pointer;
        flex : 1;
        display: flex;
        align-items: center;
        svg {
            font-size: 1.5rem;
            color:#4c6ef5;
        }
        .text {
            margin-left:0.5rem;
            flex : 1;
        }
        &.checked {
            svg{
                color : #4c6ef5;
            }
            .text {
                color : #adb5bd;
                text-decoration: line-through;
            }
        }
    }
    .remove {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color : #fcc419;
        cursor : pointer;
        &:hover {
            color : #ff8787;
        }
    }
}